<h1>FilMarket</h1>
<a href="">MARKETPLACE</a>
<a href="">GALLERY</a>
<a href="">CART</a>


<%# if not logged in %>

<h2>You must log in to view your gallery</h2>
<a href="">LOG IN</a>
<a href="">SIGN UP</a>

<%# end %>

<%# if logged in %>

<%# images %>

<h3>Purchase more from the <a href="">marketplace</a></h3>

<%# end %>