<h1>Add Your Art!</h1>
<form action="/new_art" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Image URL:</label>
    <input type="text" name="image_url">

    <label for="">Artist:</label>
    <input type="text" name="artist">

    <label for="">Caption:</label>
    <input type="text" name="caption">

    <label for="">Price:</label>
    <input type="text" name="price">

    <button>Add Now!</button>
</form>