<header>
    <h1 class="filmarket">FILMARKET</h1>
        <div class="login_prompt">
        <a href="/login">Log In</a>
        <a href="/sign_up">Sign Up</a>
    </div>
</header>


<h4 class="welcome_message">
Welcome to Filmarket! A space where you can buy and sell custom one of one art. Rumour has it, this website was the influence behind NFT's.
</h4>


<a href="/marketplace"><button class="browse_button">BROWSE</button></a>