<header>
    <h1 class="filmarket">FILMARKET</h1>
    <nav class="nav_bar">
        <a href="/marketplace">MARKETPLACE</a>
        <a href="/gallery">GALLERY</a>
    </nav>
</header>


<form action="/sessions" method = "POST">
    <div class="login_email">
        <label for="">Email:</label>
        <input type="text" name="email">
    </div>
    <div class="login_password">
        <label for="">Password:</label>
        <input type="password" name="password">
    </div>
    <button class="login_button">Log In</button>
</form>