<header>
    <h1 class="filmarket">FILMARKET</h1>
    <nav class="nav_bar">
        <a href="/marketplace">MARKETPLACE</a>
        <a href="/gallery">GALLERY</a>
    </nav>
</header>

<h1 class="signup_title">Sign Up!</h1>

<form action="/users" method = "POST">
   
    <div class="signup_firstname">
        <label for="">First Name: </label>
        <input type="text" name="first_name"><br>
    </div>
    <div class="signup_lastname">
        <label for="">Last Name: </label>
        <input type="text" name="last_name"><br>
    </div>
    <div class="signup_email">
        <label for="">Email: </label>
        <input type="text" name="email"><br>
    </div>
    <div class="signup_password">
        <label for="">Password: </label>
        <input type="password" name="password"><br>
    </div>
        <button class="signup_button">Sign Up</button>
    </div>

</form>